body {
}
.gridview_detail{
    height:100%;
}
.image_product_detail{
    width:100px;
    height:100px;
}
.image_product_detail .image_product_detail-1{
    width:100%;
    height:100%;
    object-fit:contain;
}
.detail_receipt {
    font-size: 15px;
    color: red;
}